@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.header-content {
    display: flex;
    width: 40px;
    padding: 1% 0% 5% 0%;
    gap: 15px;
}

body {
    
    background-color: #102C57;
    color: #FEFAF6;
}

.body-content {
    padding: 2% 0% 0% 3%;
    font-family: "Source Code Pro", monospace;
}

.body-content__title {
    display: flex;
    gap: 8px;
}

.body-content__title__image {
    width: 45px;
}

.body-content__title__txt {
    font-size: 40px;
}

.body-content__boxes {
    display: flex;
    gap: 8px;
}

.footer-content {
    padding: 24px;
    color:#102C57;
    background-color: #FFC26F;
    text-align: center;
}