@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

.header-content {
    display: flex;
    width: 40px;
    padding: 0% 0% 1% 0%;
    gap: 15px;
}

.header-content__img-one {
    height: 100px;
}

body {
    box-sizing: border-box;
    background-color: #102C57;
    color: #FEFAF6;
}

.body-content {
    padding: 0% 0% 0% 3%;
    font-family: "Source Code Pro", monospace;
}

.body-content__title {
    padding: 0% 0% 3% 0%;
    display: flex;
    gap: 8px;
}

.body-content__title__image {
    width: 60px;
}

.body-content__title__txt {
    font-size: 40px;
}

.body-content__boxes {
    display: flex;
    gap: 8px;
}

.body-content__boxes__input {
    padding: 0% 5% 8% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.body-content__boxes__input__place {
    position: relative;
}

.body-content__boxes__input__place__txt {
    padding: 15%, 15%, 15%, 15%;
    width: 400px;
    height: 500px;
    border-radius: 16px;
    margin-bottom: 10px;
    background-color: #102C57;
    font-size: 20px;
    text-orientation: upright;
    overflow: auto;
    box-sizing: border-box;
    border: 2px solid #FFC26F;
    color: #FEFAF6;
    text-align:left;
    resize: none;
}

.body-content__boxes__input__place__type-here {
    position: absolute;
    left: 5px;
    top: 16px;
    transition: 0.5s;
    font-size: 20px;
    color: #FEFAF6;
}

.body-content__boxes__input__place__txt:focus ~ span {
    transform: translateY(-44px);
}

.body-content__boxes__input__place__txt:valid ~ span {
    transform: translateY(-44px);
    color: #102C57;
}

.body-content__boxes__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.body-content__boxes__buttons__encrypt-decrypt {
    flex: 1;
    padding: 20px;
    font-size: 16px;
    margin-right: 15%;
    border-radius: 16px;
}

.body-content__boxes__buttons__encrypt-decrypt:last-child {
    margin-right: 0;
}

.footer-content {
    padding: 12px;
    width: 100%;
    color:#102C57;
    background-color: #FFC26F;
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    position: absolute;
    bottom: 0;
    left: 0;
}