@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --footer-header-badges-height: 4rem; 
    --header-logo-height: 5rem;
    --header-total-height: calc(var(--header-logo-height) + var(--footer-header-badges-height));
    --footer-total-header-height: calc(var(--header-total-height) + var(--footer-header-badges-height));
    --app-container-height: calc(100vh - var(--footer-total-header-height));
    --main-color: #102C57;
    --footer-borders-color: #FFC26F;
    --letters-color: #FEFAF6;
    --main-font: "Source Code Pro", monospace;
    --efect-color: transparent;
    --hover-color: #7194c9;
    --insideBox-bg-color: #1d4178;
    --font-size-boxes: 2.8rem;
    --font-size-title: 4.5rem;
    --font-size-label: 2.1rem;
    --font-weigth-label: 650;
    --font-size-footer: 1.5rem;
    --shadow-badges: rgba(0, 0, 0, 0.3);
    --shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);
    --margin-text: 3%;
    --pointer-robot: url("../images/robot-hand50px.png"), pointer;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body-content{
    min-height: 100vh;
    font-family: var(--main-font);
    color: var(--letters-color);
    background-color: var(--main-color);
}

.header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--header-total-height);
}

.header-container__badges {
    display: flex;
    align-items: center;
    gap: 2.5%;
    background-color: var(--shadow-badges);
    width: 100%;
    height: var(--footer-header-badges-height);
}

.header-container__badges__img__alura,
.header-container__logo__img-machine {
    margin-left: 1.5%;
}

.header-container__badges__img__alura,
.header-container__badges__img {
    height: 80%;
}

.header-container__badges__img__one {
    height: 160%;
}

.header-container__logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-logo-height);
}

.header-container__logo__img-machine { 
    height: 90%;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--app-container-height);
    gap: 8%;
}

.app-container__input {
    width: 40%;
    height: 95%;
}

.app-container__input__user-input {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--insideBox-bg-color);
    border: 2px solid var(--footer-borders-color);
    border-radius: 16px;
    width: 100%;
    height: 75%;
    box-shadow: var(--shadow);
}

.app-container__input__user-input__area {
    margin-left: 1%;
    width: 97.8%;
    height: 93%;
    resize: none;
    background-color: var(--efect-color);
    border: var(--efect-color);
    color: var(--letters-color);
    font-size: var(--font-size-boxes);
}

.app-container__input__user-input__area:focus {
    outline: none;
}

.app-container__input__user-input__area__type-here {
    position: absolute;
    margin-bottom: 65%;
    margin-left: 0.8%;
    align-items: center;
    width: 98%;
    transition: 0.5s;
    font-size: var(--font-size-boxes);
    color: var(--letters-color);
}

.app-container__input__user-input__area:valid ~span {
    transform: translateY(-2.1rem);
    color: var(--efect-color);
}

.app-container__input__warning {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    gap: 3%;
}

.app-container__input__warning__img {
    height: 80%;
}

.app-container__input__warning__txt {
    color: var(--letters-color);
    font-family: var(--main-font);
    font-size: 1.4rem;
}

.app-container__input__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 14%;
}

.app-container__input__buttons__encrypt-decrypt {
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
    border-color: var(--efect-color);
    border-radius: 16px;
    align-items: center;
    font-family: var(--main-font);
    cursor: var(--pointer-robot);
    transition: ease-in-out;
    background-color: var(--letters-color);
    box-shadow: var(--shadow);
}

.app-container__input__buttons__encrypt-decrypt:hover,
.app-container__output__button__copy:hover {
    background-color: var(--hover-color);
}

.app-container__input__buttons__box-imgs,
.app-container__output__button__box-img {
    height: 70%;
    width: 30%;
}

.app-container__input__buttons__box-imgs__images,
.app-container__output__button__box-img__image {
    height: 100%;
}

.app-container__input__buttons__label,
.app-container__output__button__label__copy {
    margin-top: 10%;
    height: 50%;
    font-size: var(--font-size-label);
    font-weight: var(--font-weigth-label);
    font-family: var(--main-font);
}

.app-container__output {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
    height: 95%;
    background-color: var(--insideBox-bg-color);
    border: 2px solid var(--footer-borders-color);
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.app-container__output__non-interactive {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--insideBox-bg-color);    
    border-radius: 16px;
    box-shadow: var(--shadow);
}

.app-container__output__non-interactive__img {
    width: 100%;
    height: 60%;
}

.app-container__output__non-interactive__img__robot { 
    margin-left: 25%;
    margin-top: 4%;
    width: 60%;
}

.app-container__output__non-interactive__title-msg {
    margin-left: var(--margin-text);
    width: calc(100% - var(--margin-text));
    height: 19%;
}

.app-container__output__non-interactive__title-msg__no-message {
    font-family: var(--main-font);
    font-size: var(--font-size-title);
    font-weight: 500;
}

.app-container__output__non-interactive__body-msg {
    margin-left: var(--margin-text);
    width: calc(100% - var(--margin-text));
    height: 21%;
}

.main-content__app__user-output__msg__enter-text {
    font-family: var(--main-font);
    font-size: 3.3rem;
}

.app-container__output__interactive { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.app-container__output__interactive__title-place{
    width: 99%;
    height: 20%;
}

.app-container__output__interactive__title-place__msg { 
    font-family: var(--main-font);
    font-size: var(--font-size-title);
    font-weight: 500;
}

.app-container__output__interactive__body-msg { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65%;
}

.app-container__output__interactive__answer {
    width: 99%;
    height: 98%;
    resize: none;
    background-color: var(--efect-color);
    border: var(--efect-color);
    outline: none;
    color: var(--letters-color);
    font-size: var(--font-size-boxes);
}
.app-container__input__user-input__area::-webkit-scrollbar ,
.app-container__output__interactive__answer::-webkit-scrollbar {
    width: 10px;
}

.app-container__input__user-input__area::-webkit-scrollbar-track ,
.app-container__output__interactive__answer::-webkit-scrollbar-track {
    background-color: var(--insideBox-bg-color);
}

.app-container__input__user-input__area::-webkit-scrollbar-thumb ,
.app-container__output__interactive__answer::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 8px;
}

.app-container__input__user-input__area::-webkit-scrollbar-thumb:hover ,
.app-container__output__interactive__answer::-webkit-scrollbar-thumb:hover {
    background-color: #7194c9;
    cursor: var(--pointer-robot);
}

.app-container__output__button { 
    display: flex;
    justify-content: center;
    width: 100%;
    height: 14%;
}

.app-container__output__button__copy {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    border-color: var(--efect-color);
    border-radius: 16px;
    font-family: var(--main-font);
    cursor: var(--pointer-robot);
    transition: ease-in-out;
    background-color: var(--letters-color);
    box-shadow: var(--shadow);
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgoldenrod;
    width: 100%;
    height: var(--footer-header-badges-height);
    
}

.footer-container__links {
    width: 12%;
    height: 70%;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 5px;
}

.footer-container__links__build-by {
    margin-top: -1.5%;
    width: 20rem;
    height: 1rem;
}

.footer-container__links__build-for {
    width: 20rem;
    height: 1rem;
}

/*Monitores de notebook*/
@media (max-width: 1550px) {
    :root {
        --footer-header-badges-height: 4rem; 
        --header-logo-height: 5rem;
        --font-size-boxes: 1.8rem;
        --font-size-title: 2.5rem;
        --font-size-label: 1.3rem;
        --font-size-footer: 1.5rem;
        --margin-text: 3%;
    }

    .app-container__input__user-input__area__type-here {
        margin-bottom: 50%;
    }

    .app-container__output__non-interactive__img__robot { 
        margin-left: 25%;
        margin-top: 6%;
        width: 45%;
    }

    .app-container__input__warning__txt {
        font-size: 1rem;
    }

    .main-content__app__user-output__msg__enter-text {
        font-family: var(--main-font);
        font-size: 1.5rem;
    }

    .app-container__input__buttons__label,
    .app-container__output__button__label__copy {
        margin-top: 5%;
    }
}
/*Tira as labels dos botões*/
@media (max-width: 1460px) {
    .app-container__input__buttons__label,
    .app-container__output__button__label__copy {
        display: none;
    }
}

/*Ajuste para não quebrar em transição*/
@media (max-width: 1150px) {
    :root {
        --footer-header-badges-height: 4rem; 
        --header-logo-height: 5rem;
        --font-size-boxes: 1.8rem;
        --font-size-title: 2rem;
        --font-size-label: 1.3rem;
        --font-size-footer: 1.5rem;
        --margin-text: 3%;
    }

    .app-container__input__user-input__area__type-here {
        margin-bottom: 40%;
    }

    .app-container__output__non-interactive__img__robot { 
        margin-left: 18%;
        margin-top: 6%;
        width: 55%;
    }

    .app-container__input__warning__txt {
        font-size: 0.8rem;
    }

    .main-content__app__user-output__msg__enter-text {
        font-size: 1.4rem;
    }

    .app-container__input__buttons__label,
    .app-container__output__button__label__copy {
        margin-top: 5%;
    }
}


@media (max-width: 1000px) {
    .app-container__output__non-interactive__img__robot { 
        margin-left: 18%;
        margin-top: 6%;
        width: 65%;
    }

    .app-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: var(--app-container-height);
        gap: 8%;
    }

    :root { 
        --font-size-boxes: 1.4rem;
        --font-size-title: 1.5rem;
        --font-size-footer: 1rem;
    }
    
    .app-container {
        gap: 0%;
    }
    
    .app-container__input {
        width: 85%;
        height: 55%;
    }
    
    .app-container__input__user-input__area__type-here {
        margin-top: 37%;
    }
    
    .app-container__input__warning__txt {
        font-size: 0.7rem;
    }
    
    .app-container__output {
        width: 85%;
        height: 40%;
    }
    
    .app-container__output__non-interactive__img__robot { 
        margin-left: 38%;
        margin-top: 1%;
        width: 20%;
    }
    
    .main-content__app__user-output__msg__enter-text {
        font-size: 1rem;
    }
    
    .footer-container__links__build-by {
        margin-left: -100%;
    }
    
    .footer-container__links__build-for {
        margin-left: -100%;
    }
}

@media (max-width: 645px) {

}